body {
    background-color: skyblue;
    text-decoration-color: blue;
    font-size: 2em;
    color : blue;
}


/* <style type="text/css" media="screen">
body {
    background-color: skyblue;
    text-decoration-color: #ffffff;
    font-size: 3em;
}
</style> */