<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
       Hobbies of <%=data.name%> are: <br  />
       <ul>
            <% data.hobbies.forEach(function(hobbie){ %>
        <li>
            <%=hobbie %>
        </li>
    <% });%>
       </ul>
</body>
</html>