<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <form action=" /update" method=" patch">
        <input type="hidden" name="_method" value="PUT">
        <div>
            <label>
                <input type="checkbox" name="options" value="option1"> Option 1
            </label>
        </div>
   <h1>Todo List</h1>
   <p>Hello <%=name%></p>
   <ul>
    <%data.forEach(function(todo){ %>
        <li>
        <button>Done</button> <br>
        <%= todo.title %><br>
        <%= todo.created_at %>
        </li>    
 <% }); %>
   </ul>
    </form>
</body>
</html>