<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <h1>Todo Form</h1>
    <form action="/todos" method="post">
        Title: <input style="margin-bottom:10px ;" type="text" name="title"><br> 
        Description: <input style="margin-bottom: 10px;" type="text" name="description" ><br>
        <input type="checkbox" name="completed" value="true"> Completed<br>
        <button type="submit">Submit </button>       
    </form>
   
    </form>
</body>
</html>